<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand text-white" (click)="this.router.navigate(['home'])"
    >Latihan Aplikasi</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="this.router.navigate(['home'])"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownKategori"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Kategori
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownKategori">
          <a class="dropdown-item" (click)="kategoriFunction('K001')"
            ><i class="fa fa-desktop mr-sm-2" aria-hidden="true"></i>Komputer</a
          >
          <a class="dropdown-item" (click)="kategoriFunction('K002')"
            ><i class="fa fa-laptop mr-sm-2" aria-hidden="true"></i>Laptop</a
          >
          <a class="dropdown-item" (click)="kategoriFunction('K003')"
            ><i class="fa fa-mobile mr-sm-2" aria-hidden="true"></i>
            Handphone</a
          >
        </div>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" (ngSubmit)="searchFunction()">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        id="search"
        name="search"
        [(ngModel)]="search"
        (change)="setSearch()"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <!-- <a
      class="mt-2 mt-md-0 ml-3 rounded-circle bg-white"
      (click)="this.router.navigate(['cart-list'])"
      ><i class="fas fa-shopping-bag mr-sm-2" aria-hidden="true"></i>
      <span class="badge badge-danger">{{ notif }}</span></a
    > -->
    <a mat-icon-button class="mt-2 mt-md-0 mx-2 bg-white">
      <mat-icon matBadge="{{notif}}" matBadgeColor="accent">shopping_cart</mat-icon>
    </a>
    <ul class="navbar-nav mt-2 mt-md-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="../../assets/img/blank-profile-picture.png"
            alt="Foto Profil"
            class="md-avatar rounded-circle"
          />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" (click)="this.router.navigate(['cart-list'])"
            ><i class="fas fa-shopping-bag mr-sm-2" aria-hidden="true"></i
            >Keranjang <span class="badge badge-danger">{{ notif }}</span></a
          >
          <a
            class="dropdown-item"
            (click)="
              this.router.navigate(['add-produk'], {
                queryParams: { action: 'add' }
              })
            "
            ><i class="fa fa-plus mr-sm-2" aria-hidden="true"></i>Tambah
            Produk</a
          >
          <a class="dropdown-item"
            ><i class="fa fa-user mr-sm-2" aria-hidden="true"></i>Profil</a
          >
          <a class="dropdown-item" href="#"
            ><i class="fa fa-cog mr-sm-2" aria-hidden="true"></i>Setting</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"
            ><i class="fa fa-sign-out-alt mr-sm-2" aria-hidden="true"></i>
            Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main">
  <div class="animated fadeIn container-fluid main-class">
    <router-outlet></router-outlet>
  </div>
</main>
