<div class="loading-text" *ngIf="loading">
  <div>
     <strong
        >Harap Tunggu <span class="showMe1">.</span>
        <span class="showMe2">.</span> <span class="showMe3">.</span>
     </strong>
  </div>
</div>
<div class="container text-center" [class.lightbox]="loading">
  <form class="form-signin" #form="ngForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="inputEmail"
      name="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      [(ngModel)]="email"
    />
    <br />
    <button class="btn btn-lg btn-success btn-block" type="submit">
      Submit
    </button>
  </form>
</div>
