<div class="container text-center">
  <form class="form-signin" #form="ngForm" (ngSubmit)="login()">
    <h1 class="mb-3">Login</h1>
    <label for="inputEmail" class="sr-only">Username / Email</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Username / Email"
      required
      autofocus
      [(ngModel)]="username"
      [ngClass]="{
        'is-invalid':
          (form.submitted || usernameModel.touched) && usernameModel.invalid
      }"
      #usernameModel="ngModel"
    />
    <div
      *ngIf="(form.submitted || usernameModel.touched) && usernameModel.invalid"
      class="invalid-feedback"
    >
      Username / Email Harap Diisi!
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      name="inputPassword"
      class="form-control"
      placeholder="Password"
      required
      [(ngModel)]="password"
      [ngClass]="{
        'is-invalid':
          (form.submitted || passwordModel.touched) && passwordModel.invalid
      }"
      #passwordModel="ngModel"
    />
    <div
      *ngIf="(form.submitted || passwordModel.touched) && passwordModel.invalid"
      class="invalid-feedback"
    >
      Password Harap Diisi!
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">
      Login
    </button>
    <p class="my-2 text-left">Belum mempunyai akun? <span><a href="/register">Daftar Disini</a></span></p>
    <p class="my-2 text-left">Lupa password? <span><a href="/forgot-password">Klik Disini</a></span></p>
    <p class="mt-3 text-left"><b>Login Dengan :</b></p>
    <div class="row">
      <a class="col-md btn-lg btn-danger mx-3" href="{{auth_uri+auth_uri_google}}">Google</a>
      <a class="col-md btn-lg btn-primary mx-3" href="{{auth_uri+auth_uri_facebook}}">Facebook</a>
    </div>
  </form>
</div>
