<div class="container">
  <form #form="ngForm" class="form-signin" (ngSubmit)="save()">
    <h1 class="h3 mb-3 font-weight-normal text-center">Change Password</h1>
    <label for="currentPassword" class="form-check-label">Current Password</label>
    <input
      type="password"
      id="currentPassword"
      name="currentPassword"
      class="form-control"
      [(ngModel)]="currentPassword"
      placeholder="Current Password"
      #currentPasswordValidation="ngModel"
      required
      [ngClass]="{
        'is-invalid':
          (form.submitted || currentPasswordValidation.touched) &&
          currentPasswordValidation.invalid
      }"
    />
    <div
      *ngIf="
        (form.submitted || currentPasswordValidation.touched) &&
        currentPasswordValidation.invalid
      "
      class="invalid-feedback mt-0 mb-1"
    >
      Harap Masukkan Password Saat Ini
    </div>
    <label for="newPassword" class="form-check-label">New Password</label>
    <input
      type="password"
      id="newPassword"
      name="newPassword"
      class="form-control"
      [(ngModel)]="newPassword"
      placeholder="New Password"
      (input)="confirmPasswordValidation()"
      #newPasswordValidation="ngModel"
      required
      [ngClass]="{
        'is-invalid':
          (form.submitted || newPasswordValidation.touched) &&
          newPasswordValidation.invalid
      }"
    />
    <div
      *ngIf="
        (form.submitted || newPasswordValidation.touched) &&
        newPasswordValidation.invalid
      "
      class="invalid-feedback mt-0 mb-1"
    >
      Harap Masukkan Password Baru
    </div>
    <label for="confirmPassword" class="form-check-label">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      class="form-control"
      [(ngModel)]="confirmPassword"
      placeholder="Confirm Password"
      (input)="confirmPasswordValidation()"
      #confirmPasswordValid="ngModel"
      required
      [ngClass]="{
        'is-invalid':
          (form.submitted || confirmPasswordValid.touched) &&
          confirmPasswordValid.invalid
      }"
    />
    <div
      *ngIf="
        (form.submitted || confirmPasswordValid.touched) &&
        confirmPasswordValid.invalid
      "
      class="invalid-feedback mt-0 mb-2"
    >
      Harap Masukkan Confirm Password
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">
      Reset Password
    </button>
  </form>
</div>
